# Flutter & Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android / iOS build junk
android/.gradle/
android/app/build/
ios/Pods/
ios/Flutter/Flutter.framework

# Node backend
server/node_modules/
server/package-lock.json
node_modules/
.env
npm-debug.log*

# IDE/macOS
.DS_Store
.vscode/
allfiles.txt
